.mainGallery__area {
  width: 100%;
  margin-bottom: 100px;
}

.mainGallery__outer {
  width: 100%;
}

.mainGallery {
  width: 100%;
  position: relative;
}

.mainGallery-container {
  position: relative;
  /* padding: 10px 0 20px; */
  overflow: hidden;
}

.mainGallery-wrapper {
  align-items: stretch;
  height: auto;
}

.mainGallery-slide {
  height: auto;
}

.mainGallery-slide {
  width: 100%;
  transition: all .3s;
}

.mainGallery__item {
  position: relative;
}

.mainGallery__itemImg {
  position: relative;
  padding-top: 127%;
}

.mainGallery__itemImg a {
  text-decoration: none;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  background: #eee;
  transition: all .3s;
  border-radius: 14px;
}

.mainGallery__item img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.mainGallery-slide:not(.swiper-slide-active) {
  transform: scale(.85);
  transition: all .3s;
}

.mainGallery .swiper-slide-prev-prev {
  opacity: .2 !important;
}

.mainGallery .swiper-slide-next-next {
  opacity: .2 !important;
}

.mainGallery .swiper-slide-prev {
  margin-right: 2%;
}

.mainGallery .swiper-slide-next {
  margin-left: 2%;
}

.mainGallery .mainGallery-wrapper {
  margin-left: -2%;
}

.mainGallery__itemInfo {
  display: flex;
  align-items: center;
  padding-top: 20px;
  opacity: 0;
  transition: all .3s;
}

.mainGallery .swiper-slide-active .mainGallery__itemInfo {
  opacity: 1;
}

.mainGalery__itemInfoName {
  width: 50%;
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.mainGalery__itemInfoAction {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}