.mastersBox__area {
  padding-bottom: 100px;
}

.mastersBox {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
}

.master {
  position: relative;
  width: 100%;
  border-radius: 28px;
  background: var(--, #F6F5F3);
  box-shadow: -4.21669px 5.62225px 30.9224px 0px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.master__img {
  width: 100%;

}

.master__img img {
  display: block;
  width: 100%;

}

.master__info {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 18px 22px 22px 22px;
}

.master__infoTitle {
  color: #000;
  font-size: 28px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 36px;
  flex: 1;
}

.master__infoPosition {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0 0 30px;
}

.masterTags {
  display: flex;
  list-style: none;
  position: relative;
  border-bottom: 1px solid #e0e0e0;
  margin: 0 0 80px;
}

.masterTag {
  border-bottom: 4px solid transparent;
  color: #424530;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 70px 60px;
  cursor: pointer;
}

.masterTag:first-child {
  padding: 70px 60px 70px 0;
}

.masterTag.active {
  border-bottom: 4px solid var(--dark);
  color: var(--dark);
}