mixin contacts 
  .contacts__area.w 
    .title1 
      h2 Контакты
    .contacts 
      .contacts__left
        .content.text4 
          h3 Имидж-центр «Бьюти Лаунж»
          
          h4 Адрес
          p ул. Московская, д. 113/117, ТК «Мир», 2 этаж
          
          h4 Номер телефона
          a(href="tel:+78452759933")  +7 (8452)75-99-33
          
          h4 Время работы
          p ежедневно с 9:00 до 21:00


      .contacts__right
        h4 Деятельность по оказанию услуг и администрированию данного сайта осуществляет:
        .text4
          p ООО «БТЛ-Имидж»
          p Юридический адрес: 410002, Саратовская обл, г Саратов, ул. им. Мичурина И.В., д. 150/154, кв. 16
          p ИНН 6450116207
          p КПП 645001001
          p ОГРН 1236400004720
          p E-mail: r.kurochkin@abp.ooo
          p Р/С 40702810624670001961
          p Приволжский филиал ПАО Росбанк
          p БИК 042202747
          p Реквизиты банка:
          p К/С 30101810400000000747
  .map__area 
    #map