mixin mainGal
  .mainGallery__area 
    .mainGallery__outer
      .mainGallery
        .title1.w  
          h2 Портфолио
        .swiper-container.mainGallery-container
          .swiper-wrapper.mainGallery-wrapper
            .swiper-slide.mainGallery-slide
              
                .mainGallery__item
                  .mainGallery__itemImg
                    a(href="assets/img/gal/01.jpg", data-fancybox)
                      img(src="assets/img/gal/01.jpg", alt="")
                  .mainGallery__itemInfo 
                    .mainGalery__itemInfoName Малышко Мария, парикмахер-колорист 
                    .mainGalery__itemInfoAction 
                      .btn2 Записаться
            .swiper-slide.mainGallery-slide
              
                .mainGallery__item
                  .mainGallery__itemImg
                    a(href="assets/img/gal/02.jpg", data-fancybox)
                      img(src="assets/img/gal/02.jpg", alt="")
                  .mainGallery__itemInfo 
                    .mainGalery__itemInfoName Малышко Мария, парикмахер-колорист 
                    .mainGalery__itemInfoAction 
                      .btn2 Записаться
            .swiper-slide.mainGallery-slide
              
                .mainGallery__item
                  .mainGallery__itemImg
                    a(href="assets/img/gal/03.jpg", data-fancybox)
                      img(src="assets/img/gal/03.jpg", alt="")
                  .mainGallery__itemInfo 
                    .mainGalery__itemInfoName Малышко Мария, парикмахер-колорист 
                    .mainGalery__itemInfoAction 
                      .btn2 Записаться
            .swiper-slide.mainGallery-slide
              
                .mainGallery__item
                  .mainGallery__itemImg
                    a(href="assets/img/gal/04.jpg", data-fancybox)
                      img(src="assets/img/gal/04.jpg", alt="")
                  .mainGallery__itemInfo 
                    .mainGalery__itemInfoName Малышко Мария, парикмахер-колорист 
                    .mainGalery__itemInfoAction 
                      .btn2 Записаться
            .swiper-slide.mainGallery-slide
              
                .mainGallery__item
                  .mainGallery__itemImg
                    a(href="assets/img/gal/05.jpg", data-fancybox)
                      img(src="assets/img/gal/05.jpg", alt="")
                  .mainGallery__itemInfo 
                    .mainGalery__itemInfoName Малышко Мария, парикмахер-колорист 
                    .mainGalery__itemInfoAction 
                      .btn2 Записаться
            .swiper-slide.mainGallery-slide
              
                .mainGallery__item
                  .mainGallery__itemImg
                    a(href="assets/img/gal/06.jpg", data-fancybox)
                      img(src="assets/img/gal/06.jpg", alt="")
                  .mainGallery__itemInfo 
                    .mainGalery__itemInfoName Малышко Мария, парикмахер-колорист 
                    .mainGalery__itemInfoAction 
                      .btn2 Записаться
            .swiper-slide.mainGallery-slide
              
                .mainGallery__item
                  .mainGallery__itemImg
                    a(href="assets/img/gal/07.jpg", data-fancybox)
                      img(src="assets/img/gal/07.jpg", alt="")
                  .mainGallery__itemInfo 
                    .mainGalery__itemInfoName Малышко Мария, парикмахер-колорист 
                    .mainGalery__itemInfoAction 
                      .btn2 Записаться
            .swiper-slide.mainGallery-slide
              
                .mainGallery__item
                  .mainGallery__itemImg
                    a(href="assets/img/gal/08.jpg", data-fancybox)
                      img(src="assets/img/gal/08.jpg", alt="")
                  .mainGallery__itemInfo 
                    .mainGalery__itemInfoName Малышко Мария, парикмахер-колорист 
                    .mainGalery__itemInfoAction 
                      .btn2 Записаться

            
        .pagination
          .mainGallery__left
            i.icon-left
          .swiper-pagination.mainGallery__pagination
          .mainGallery__right
            i.icon-right

mixin mainGal0 
  .swiper.mySwiper
    .swiper-wrapper
      .swiper-slide Slide 1
      .swiper-slide Slide 2
      .swiper-slide Slide 3
      .swiper-slide Slide 4
      .swiper-slide Slide 5
      .swiper-slide Slide 6
      .swiper-slide Slide 7
      .swiper-slide Slide 8
      .swiper-slide Slide 9
    .swiper-pagination