mixin header 
  .header__area 
    header.header.w 
      .logo1
        a(href="#")
          +logo1
      .header__i 
        a.i__item(href="#") 
          i.icon-tg
        a.i__item(href="#") 
          i.icon-ws
      .header__addr Саратов, ул. Московская, 117, 2 этаж, ТК «Мир»
      a.header__phone(href="tel:+78452759933")  +7 (8452)75-99-33

    ul.topMenu.w
      li
        a(href="#") Портфолио
      li
        a(href="#") Специалисты
      li
        a(href="#") Отзывы
      li
        a(href="#") Прайс
      li
        a(href="#") Контакты
