mixin masters3
	.mastersBox__area.w
		.title1
			h2 Специалисты
		.mastersBox__outer
			+mastersTagMenu
			+mastersBox
		

mixin mastersTagMenu 
		//- .filterTagMenuMobile__area
		//- 	select.filterTagMenuMobile
		//- 		option.filterTagMenuLink_mb.filterTagMenuLink__all(data-mb-id='all' selected='selected') Все специалисты
		//- 		option.filterTagMenuLink_mb(data-mb-id='0' selected='selected') Медицина
		//- 		option.filterTagMenuLink_mb(data-mb-id='1') Косметология
		//- 		option.filterTagMenuLink_mb(data-mb-id='4') Менеджмент
		.masterTags__outer
			ul.masterTags
				li.masterTag.masterTag__all.active(data-id='all')
					span Все специалисты
				li.masterTag(data-id='0')
					span Волосы
				li.masterTag(data-id='1')
					span Маникюр и педикюр
				li.masterTag(data-id='2')
					span Подология
				li.masterTag(data-id='3')
					span Перманент
				li.masterTag(data-id='4')
					span Brow bar

mixin mastersBox 
	.mastersBox
		.master.jsFilterResultItem(data-sid='4,0')
			.master__img 
				img(src="assets/img/sotr/barashova.jpg", alt="")
			.master__info 
				.master__infoTitle Барашова Елизавета
				.master__infoPosition Парикмахер-колорист, топ-мастер
				.btn3 Записаться
		.master.jsFilterResultItem(data-sid='1')
			.master__img 
				img(src="assets/img/sotr/klopova.jpg", alt="")
			.master__info 
				.master__infoTitle Клопова Светлана
				.master__infoPosition Парикмахер-колорист, визажист
				.btn3 Записаться
		.master.jsFilterResultItem(data-sid='2')
			.master__img 
				img(src="assets/img/sotr/kuchmina.jpg", alt="")
			.master__info 
				.master__infoTitle Кучмина Антонина
				.master__infoPosition Врач-косметолог
				.btn3 Записаться
		.master.jsFilterResultItem(data-sid='3')
			.master__img 
				img(src="assets/img/sotr/osipova.jpg", alt="")
			.master__info 
				.master__infoTitle Осипова Кристина Дмитриевна
				.master__infoPosition Массажист
				.btn3 Записаться
		.master.jsFilterResultItem(data-sid='4')
			.master__img 
				img(src="assets/img/sotr/tarasova.jpg", alt="")
			.master__info 
				.master__infoTitle Тарасова Мария Александровна
				.master__infoPosition Массажист, спа-эстетист
				.btn3 Записаться
		.master.jsFilterResultItem(data-sid='1,0')
			.master__img 
				img(src="assets/img/sotr/zhdanova.jpg", alt="")
			.master__info 
				.master__infoTitle Жданова Анна
				.master__infoPosition Мастер маникюра и педикюра
				.btn3 Записаться
		.master.jsFilterResultItem(data-sid='2,0')
			.master__img 
				img(src="assets/img/sotr/zhukova.jpg", alt="")
			.master__info 
				.master__infoTitle Жукова Светлана Юрьевна
				.master__infoPosition Врач-косметолог, штатный консультант
				.btn3 Записаться
		.master.jsFilterResultItem(data-sid='3')
			.master__img 
				img(src="assets/img/sotr/zlobina.jpg", alt="")
			.master__info 
				.master__infoTitle Злобина Ольга Вячеславовна
				.master__infoPosition Врач-косметолог, к.м.н.
				.btn3 Записаться
		.master.jsFilterResultItem(data-sid='4')
			.master__img 
				img(src="assets/img/sotr/zuyeva.jpg", alt="")
			.master__info 
				.master__infoTitle Зуева Людмила Вячеславовна
				.master__infoPosition Врач-косметолог
				.btn3 Записаться
		