mixin price1
	.price__area
		.title1.w  
			h2 Прайс
		.price__outer.w.clearFix
			.tabsArea
				ul.tabs
					li.tab
						a.tabTitle.active(href='#')
							span Волосы
						section.open
							table
								colgroup
									col(span="1" style="width: 70%;")
									col(span="1" style="width: 30%;")
								thead 
									tr
										th(colspan=2)
											.priceCellTitle Стрижка
								tbody
									tr
										td
											.priceCell Женская стрижка
										td
											.priceCell 1 500 — 3 500 ₽
									tr
										td
											.priceCell Мужская стрижка
										td
											.priceCell 900 — 2 500 ₽
									tr
										td
											.priceCell Стрижка лезвием (блейд)
										td
											.priceCell 1 700 — 2 500 ₽
									tr
										td
											.priceCell Детская стрижка
										td
											.priceCell 500 — 1 000 ₽
							table
								colgroup
									col(span="1" style="width: 70%;")
									col(span="1" style="width: 30%;")
								thead 
									tr
										th(colspan=2)
											.priceCellTitle Окрашивание
								tbody
									tr
										td
											.priceCell Прикорневое окрашивание волос
										td
											.priceCell 5 000 — 7 000 ₽
									tr
										td
											.priceCell Окрашивание тон в тон
										td
											.priceCell 6 000 — 10 000 ₽
									tr
										td
											.priceCell Окрашивание Тотал блонд
										td
											.priceCell 7 000 — 15 000 ₽
									tr
										td
											.priceCell Сложное окрашивание волос
										td
											.priceCell 9 000 — 20 000 ₽




					li.tab
						a.tabTitle(href='#')
							span Маникют и педикюр
						section
							table
								colgroup
									col(span="1" style="width: 70%;")
									col(span="1" style="width: 30%;")
								thead 
									tr
										th(colspan=2)
											.priceCellTitle Окрашивание
								tbody
									tr
										td
											.priceCell Прикорневое окрашивание волос
										td
											.priceCell 5 000 — 7 000 ₽
									tr
										td
											.priceCell Окрашивание тон в тон
										td
											.priceCell 6 000 — 10 000 ₽
									tr
										td
											.priceCell Окрашивание Тотал блонд
										td
											.priceCell 7 000 — 15 000 ₽
									tr
										td
											.priceCell Сложное окрашивание волос
										td
											.priceCell 9 000 — 20 000 ₽


					li.tab
						a.tabTitle(href='#')
							span Подология
						section
							table
								colgroup
									col(span="1" style="width: 70%;")
									col(span="1" style="width: 30%;")
								thead 
									tr
										th(colspan=2)
											.priceCellTitle Стрижка
								tbody
									tr
										td
											.priceCell Женская стрижка
										td
											.priceCell 1 500 — 3 500 ₽
									tr
										td
											.priceCell Мужская стрижка
										td
											.priceCell 900 — 2 500 ₽
									tr
										td
											.priceCell Стрижка лезвием (блейд)
										td
											.priceCell 1 700 — 2 500 ₽
									tr
										td
											.priceCell Детская стрижка
										td
											.priceCell 500 — 1 000 ₽

					li.tab
						a.tabTitle(href='#')
							span Перманент
						section

					li.tab
						a.tabTitle(href='#')
							span Brow bar
						section
		.bigBtn Записаться