- var pageTitle = 'Имидж-центр Бьюти Лаунж'
- var seoKeywords = ''
- var seoDesc = ''

include __const
include __header
include __forms
include __footer





<!DOCTYPE html>
html(lang="ru-RU")
  +head
body
  .site
    .site__header
      +header

    .site__center

    .site__footer
      +footer
    

  +scripts
  
